<ion-header>
  <ion-navbar class="nav-no-border">

      <button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-searchbar primary [(ngModel)]="queryText" (ionInput)="updateSchedule()" placeholder="Search for schedule talks">
    </ion-searchbar>
  </ion-navbar>

  <ion-toolbar class="toggletoolbar" no-border-top>

    <table width="100%">
      <tr>
        <td *ngFor="let location of locations" class="scheduletoggle">
          <button (click)="toggleLocation(location.id)" [outline]="location.hide" class="scheduletogglebutton" small block [ngStyle]="{'background-color': getLocationBackgroungColor(location), 'color': getLocationColor(location), 'border-color': getLocationColor(location) }">{{location.name}}</button>
        </td>
        <td>
            <button small block class="scheduletogglebutton schedule-button" (click)="toggleFavourites()" *ngIf="segment === 'all'">
              <ion-icon name="heart-outline"></ion-icon>
            </button>
            <button small block class="scheduletogglebutton schedule-button" (click)="toggleFavourites()" *ngIf="segment !== 'all'">
              <ion-icon name="heart"></ion-icon>
            </button>
        </td>
      </tr>
    </table>
  </ion-toolbar>

</ion-header>


<ion-content class="schedule" on-scroll="onPageScroll()">

  <ion-list #scheduleList>
    <ion-list-header text-center class="time-group" [hidden]="days.length > 0">
      No sessions were found.
    </ion-list-header>

    <ion-item-group no-lines *ngFor="let day of days">
      <ion-item-divider sticky class="time-group">
        {{day.date}}
      </ion-item-divider>

      <ion-item-content class="time-group">

        <ion-item-group *ngFor="let group of day.groups" [hidden]="group.hide">
          <ion-item-divider [class]="checkIfTimeHasPassed(day.date, group.time)">
            {{group.time}}
          </ion-item-divider>

          <ion-item-sliding *ngFor="let session of group.sessions; let i = index" [attr.data-index]="i" #slidingItem [attr.location]="locationNoSpaces(session.locationId) | lowercase" [hidden]="session.hide">
            <ion-item>
              <ion-grid style="padding:0">
                <ion-row style="padding:0">
                  <ion-col style="padding:10; max-width: 1%;" width-10>
                    <ion-avatar class="speaker-avatar-image" *ngIf="getSpeakers(session) && getSpeakers(session).length === 1">
                      <img [src]="getSpeakerPicture(session)">
                    </ion-avatar>
                    <ion-avatar class="speaker-avatar-image" *ngIf="getSpeakers(session) && getSpeakers(session).length > 1">
                      <img [src]="getSpeakerPicture(session)">
                    </ion-avatar>
                  </ion-col>
                  <ion-col style="padding:0;padding-left:35px;" width-80>
                    <button text-wrap ion-item style="padding-left:6px;" (click)="goToSessionDetail(session)">
                      <h3 [innerHtml]="session.name"></h3>
                      <p>
                        <span *ngIf="session.speakerNames">{{session.speakerNames}}</span> in
                        <span [ngStyle]="{'color': session.location.color}">{{session.location.name}}</span>
                      </p>
                    </button>
                  </ion-col>
                  <ion-col style="padding:10; position: relative;" width-10>
                    <ion-icon style="font-size: 30px;position: absolute; left: 15px" [ngStyle]="{'color': session.location.color}" name="heart" *ngIf="isFavourite(session)" favorite (click)="removeFavorite(session)"></ion-icon>
                    <ion-icon style="font-size: 30px; position: absolute; left: 15px" [ngStyle]="{'color': session.location.color}" name="heart-outline" *ngIf="!isFavourite(session)" favorite (click)="addFavorite(session)"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <hr *ngIf="group.sessions.length > 0 && i < (group.sessions.length - 1)">
            </ion-item>
          </ion-item-sliding>
        </ion-item-group>
      </ion-item-content>
    </ion-item-group>
  </ion-list>
</ion-content>
