<ion-header>
  <ion-navbar>
    <ion-title>Session</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 class="session-header" [innerHTML]="session.name"></h3>

  <ion-card>
    <ion-item no-lines>
      <div class="stars">
        <star *ngFor="let star of stars" [active]="star <= _rating" (rate)="onRate($event)" [position]="star">
        </star>
      </div>
    </ion-item>
    <ion-item>
      <ion-label floating>Write a comment here and rate...</ion-label>
      <ion-textarea type="text" [(ngModel)]="comment"></ion-textarea>\
    </ion-item>
    <button padding start margin ion-button outline large (click)="postRating(session)" [disabled]="_rating === 0 && comment === ''">Submit Rating</button>
  </ion-card>

  <ion-divider>
    </ion-divider>
    <br/>
    <center>


        <h4 text-center>{{session.date}}</h4>
        <h4 text-center>{{session.timeStart}} - {{session.timeEnd}}</h4>
        <h4 text-center>{{session.locationName}} room</h4>

      <button ion-button large outline *ngFor="let speaker of session.speakers" (click)="goToSpeakerDetail(speaker)">
        <ion-avatar item-left>
          <img [src]="getSpeakerImage(speaker)">
        </ion-avatar>
        {{speaker.name}}
      </button>
      <br/>
      <button  ion-button outline large (click)="goToTwitter(session.speakers)" *ngIf="hasTwitterAccounts(session.speakers)">
        <ion-icon name="logo-twitter"></ion-icon>Tweet</button>
    </center>
    

  <ion-card>
    <ion-card-content class="session-description" [innerHTML]="session.description"></ion-card-content>
  </ion-card>
</ion-content>
